* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerButtons {
  display: flex;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app__post {
  margin-left: 20px;
  margin-right: 20px;
}
